<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.bookedjob.newsletter</string>
  <key>ProgramArguments</key><array>
    <string>/usr/bin/python3</string>
    <string>/Users/aaronphillips/GIT/booked-job/scripts/newsletter_build.py</string></array>
  <key>WorkingDirectory</key><string>/Users/aaronphillips/GIT/booked-job</string>
  <key>StartCalendarInterval</key><dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
  <key>StandardOutPath</key><string>/Users/aaronphillips/GIT/booked-job/content/newsletter.out.log</string>
  <key>StandardErrorPath</key><string>/Users/aaronphillips/GIT/booked-job/content/newsletter.err.log</string>
  <key>RunAtLoad</key><false/>
</dict></plist>
