<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.bookedjob.blueskyfeed</string>
  <key>ProgramArguments</key><array><string>/usr/bin/python3</string><string>/Users/aaronphillips/GIT/booked-job/scripts/bluesky_feed_refresh.py</string></array>
  <key>WorkingDirectory</key><string>/Users/aaronphillips/GIT/booked-job</string>
  <key>StartCalendarInterval</key><array>
    <dict><key>Hour</key><integer>7</integer><key>Minute</key><integer>5</integer></dict>
    <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>35</integer></dict>
    <dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>5</integer></dict>
    <dict><key>Hour</key><integer>21</integer><key>Minute</key><integer>35</integer></dict>
  </array>
  <key>StandardOutPath</key><string>/Users/aaronphillips/GIT/booked-job/content/blueskyfeed.out.log</string>
  <key>StandardErrorPath</key><string>/Users/aaronphillips/GIT/booked-job/content/blueskyfeed.err.log</string>
  <key>RunAtLoad</key><false/>
</dict></plist>
